<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - Support KB</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1 class="text-center">Semantic KB</h1>
    <h2>List of Commands</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>URL</th>
            <th>Request</th>
            <th>Function</th>
        </tr>
        </thead>

        <tbody>
        {% for c in commands %}
            <tr>
                <td><a href="{{ c['url'] }}">{{ c['url'] }}</a></td>
                <td>{{ c['request'] }}</td>
                <td>{{ c['function'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>

</html>