<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Progress - Support KB</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

<div class="container">
    <h1 class="text-center">Task Progress</h1>
    <h2>
        Populate Content
        <small id="p-content-text"></small>
    </h2>
    <div class="progress">
        <div id="p-content" class="progress-bar progress-bar-striped active" role="progressbar" style="width: 0;"
             aria-valuenow="0"
             aria-valuemin="0" aria-valuemax="100">

        </div>
    </div>
    <h2>
        Populate Frames
        <small id="p-frames-text"></small>
    </h2>
    <div class="progress">
        <div id="p-frames" class="progress-bar progress-bar-striped active" role="progressbar" style="width: 0;"
             aria-valuenow="0"
             aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
</div>

<script>

    function update(p_bar_name, p_text_name, event) {
        var event_data = JSON.parse(event.data);
        var p_bar = document.getElementById(p_bar_name);
        var p_text = document.getElementById(p_text_name);
        var percent = parseInt(event_data['percent']);
        var remaining = parseInt(event_data['remaining']);
        var max = parseInt(100);

        p_bar.style = "width:" + percent + "%;";
        p_bar.innerText = percent + "%";
        p_text.innerText = "(" + remaining + " seconds remaining)";

        if (percent === max) {
            p_bar.classList.add('progress-bar-success');
            p_text.innerText = "Complete!";
            event.target.close();
        }
    }

    var kb_event = new EventSource("/progress_kb");
    kb_event.onmessage = function (event) {
        update('p-content', 'p-content-text', event);
    };

    var frame_event = new EventSource("/progress_frames");
    frame_event.onmessage = function (event) {
        update('p-frames', 'p-frames-text', event);
    };
</script>
</body>

</html>